# Package in develop mode
-e .

# Code style
isort
flake8
black

# Tests
tox
codecov
freezegun
pytest
pytest-cov
pytest-django
pluggy

# Packaging
setuptools
setuptools_scm
twine
wheel

readme_renderer[md]
